/*
GENERAL
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position:absolute;
  width: 100%;
  background-color: #f6f8f9;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}

header .container, #container, #add-sections {
  background-color: white;
}
 
/*
 HEADER
 */

header .container {
  position: relative;
  width: 100%;
  height: 20%;
  min-width: inherit;
  margin: 0 auto;
  padding: 20px 40px;
}
header .logo img{
  width: 50px;
  vertical-align: bottom;
}

#textlist{
  display: inline-block;
  font-size: 40px;
  font-weight: 700;
}

 /*
 MAIN
 */

#container {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  width: 70%;
  margin: 4% 15% 2% 15%;
  color: blue;
  border-radius: 10px;

 }

 .nav-buttons, .first-list-container, .second-list-container, .third-list-container {
  padding: 20px 20px 8px 50px;
 }
.nav-buttons {
  border-bottom: 3px solid #f6f8f9;
  color: white;
}
 #add-task, #add-sections {
   padding: 6px 12px;
   border-radius: 8px;
   margin-left: 5px;
   margin-bottom: 10px;
 }
#add-task {
  background-color: #47adf1;
  border: 2px solid #47adf1;
  color: white;
}
#add-sections {
  color: #c5cbd0;
  border: 2px solid #c5cbd0;
}

 .main-text {
   height: 356px;
   background-color: white
 }

 .list-object .title {
   font-size: 20px;
   font-weight: 800;
 }
 .arrow-symbol {
   width: 8px;
 }

 .first-list-container, .second-list-container, .third-list-container {
   color: black;
   position: relative;
   box-sizing: border-box;
   display: inline-block;
   width: 70%;
   padding-top: 15px;  
 }
 .third-list-container {
   margin-bottom: 25px;
 }
  .list-item {
    margin-top: 15px;
  }
 .check-symbol {
   font-weight: bold;
   color: #65c0a9;
   border: 1px solid #65c0a9;
   border-radius: 50%;
   padding: 5px;
   vertical-align: middle;
 }

 .crossed-symbol {
  font-weight: bold;
  color: red;
  border: 1px solid red;
  border-radius: 50%;
  padding: 5px;
 }

 .blue {
   background-color: #47adf1;
 }
 .violet {
   background-color: #9c72e4;
 }
 .green {
   background-color: #64c0a9;
 }
 .orange {
   background-color: #f29e33;
 }
.pink {
  background-color: #d863a1;
}
.lightgreen {
  background-color: #b0c926;
}
 .square {
  font-size: 12px;
  color: white;
  padding: 6px 12px;
  border-radius: 200px;
  margin-left: 2px;
 }
