/*
GENERAL
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f6f8f9;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}

header .container, #container, #add-sections {
  background-color: white;
}
 
/*
 HEADER
 */

header{
  width: 100%;
  height: 20%;
  min-width: inherit;
  margin: 0 auto;
  padding: 20px 40px;
  background-color: white;
}
.logo{
  vertical-align: middle;
}

.logo-text{
  font-size: 40px;
  font-weight: 700;
  vertical-align: middle;
}


.circle::before{
  content: '\2713';
  display: inline-block;
  width: 15px;
  height: 15px;
  text-align: center;
  line-height: 15px;
  font-size: 10px;
  border: 1px solid #65c0a9;
  color: #64c0a9;
  border-radius: 50%;
}

.circle.crossed::before{
  content: 'x';
  border: 1px solid red;
  color: red;
}
 /*
 MAIN
 */

#container {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  width: 60%;
  margin: 4% 15% 2% 20%;
  padding-bottom: 40px;
  color: blue;
  border-radius: 10px;

 }

 .nav-buttons {
  padding: 20px 20px 8px 50px;
 }
.nav-buttons {
  border-bottom: 3px solid #f6f8f9;
  color: white;
}
 #add-task, #add-sections {
   padding: 6px 12px;
   border-radius: 8px;
   margin-left: 5px;
   margin-bottom: 10px;
   cursor: pointer;
 }
#add-task {
  background-color: #47adf1;
  border: 2px solid #47adf1;
  color: white;
}
#add-sections {
  color: #c5cbd0;
  border: 2px solid #c5cbd0;
}

 .main-container {
   color: black;
   position: relative;
   box-sizing: border-box;
   display: inline-block;
   width: 70%;
   padding-top: 15px;
   margin-left: 55px;  
 }

 .main-container h3::before{
   content: '\25BE';
 }
h3 {
  font-size: 20px;
  font-weight: bolder;
  margin-top: 2px;
}
 li {
   margin-top: 15px;
   list-style: none;
 }
 .mark{
   font-weight: bold;
  border-radius: 50%;
  padding: 5px;
  vertical-align: middle;
}

 .blue {
   background-color: #47adf1;
 }
 .violet {
   background-color: #9c72e4;
 }
 .green {
   background-color: #64c0a9;
 }
 .orange {
   background-color: #f29e33;
 }
.pink {
  background-color: #d863a1;
}
.lightgreen {
  background-color: #b0c926;
}
 .square {
  font-size: 12px;
  color: white;
  padding: 6px 12px;
  border-radius: 200px;
  margin-left: 2px;
 }
